.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #001529; /* Ant Design dark blue */
  color: white; /* White text for contrast */
  font-family: 'Roboto', sans-serif; /* optional font */
}

.ant-card {
  background-color: #003a8c !important; /* Ant Design primary blue */
  color: white !important;
}

.ant-slider-track {
  background-color: #1890ff !important; /* slider track blue */
}

.ant-slider-handle {
  border-color: #1890ff !important; /* slider handle blue */
}

.ant-typography {
  color: white !important;
}

